<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="../model/homeController.js"></script>
    <link rel="stylesheet" href="../layout/homeLayout.css">
</head>
<body onload = "load();">
<div>
    <img src = "../assets/logo.png" id = "homeLogoImg"/>
    <button onclick = "clickJumpOverBtn()" id = "jumpOverBtn">跳过</button>
    <p id = "homeTitle">体适能科技</p>

</div>
</body>

</html>

